* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: none;
}

.cursoricon {
    position: fixed;
    z-index: 99;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
}